.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  font-weight: 600;
  position: fixed;
  width: 100%;
}
.status-bar_column {
  width: 33%;
}
.status-bar_column span {
  margin-right: 5px;
}
.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar_column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar_column .fa-battery-full {
  margin: 0px 10px;
}
.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header_title {
  margin: 50px, 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
