@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "reset.css";
@import "variable.css";
/*Component*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/profile-box.css";
@import "components/red-badge.css";
@import "components/icon-raw.css";
@import "components/fixed.css";

/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "screen/chat.css";

html {
  border: 2px solid black;

}

body {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 75px;
  width: 480px;
  height: auto;
  box-sizing: border-box;


}
main {
  padding: 0 var(--horizontal-space);
  padding-top: 110px;

}
a {
  cursor: pointer;
}
.behind {
  visibility: hidden;
}


.screen_alram span {
  color: white;
  font-size: 50px;
}
@media (min-width: 560px) {
  * {
    visibility: hidden;
  }
  body {
    background-color: blue;
    visibility: visible;
    position: relative;
  }
  .screen_alram {
    position: absolute;
    top: 50%;
    left: 100%;

  }
  .screen_alram span {
    visibility: visible;
  }
  
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
