.nav-list {
  width: 640px;
  height: 73px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-btn {
  position: relative;
}
.nav-btn .notification {
  position: absolute;
  top: -10px;
  right: -13px;
}
.nav-btn .notification_dot {
  position: absolute;
  top: -5px;
  right: -5px;
}
