.page-header {
  margin-top: 30px;
  padding: 20px 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header_title {
  font-weight: 700;
  font-size: 30px;
}
.page-header_link-icon {
  margin-left: 20px;
}
.fa-chevron-right {
  margin-left: 10px;
}
