.login-loading {
    height: 100vh;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;

}
.login-loading i {
    color: rgb(60, 30, 30);
    font-size: 100px;
}