.welcome-header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title {
    margin-top: 85px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.welcome-header__text {
    margin-top: 20px;
    width: 300px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.login-form {
    
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    margin-top: 75px;
    align-items: center;
}

.login-form--input {
    width: 100%;
    padding: 17px 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    transition: all 0.5s ease-in-out ;

    
}
.login-form--input::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);

}
.login-form--input:focus {
    border-bottom: 1px solid var(--yellow);

}
.login-form__submit {
    margin-top: 25px;
    margin-bottom: 10px;

    
}
.login-form--box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: var(--yellow);
    cursor:pointer;
}

.login-form__find > a {
    font-size: 13px;
}

